.bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 70px;
  color: #f0bb03;
  font-family: Bree Serif;
}

.description {
  font-size: 30px;
  color: #ffffff;
  font-family: Bree Serif;
}

.button {
  height: 40px;
  width: 100px;
  color: #1e293b;
  border-radius: 10px;
}
